{% extends "base.html" %}
{% block body %}
{% from "forms/macros.html" import edit_field %}

<style>

.nivo-caption {
    position:absolute;
    left:0px; /* x offset position */
    top:0px; /* y offset position */
    overflow:hidden;
    background:none;
    font-family:Helvetica, Arial, Sans-Serif;
    color:#fff;
    font-weight:bold;
    font-size:40px;
    line-height:44px;
    text-align:left;
    text-transform:uppercase; /* converts text to UPPERCASE */
    z-index:8;
}
.nivo-caption a {
    display:inline !important;
}

.nivo-caption1 {
    margin-left:25%;
    margin-top:5px;
    width:500px;
    background:black;
    font-size:100%;
    line-height:120%;
}

.nivo-caption2 {
    margin-left:230px;
    margin-top:10px;
    width:350px;
    background:black;
    font-size:100%;
    line-height:120%;
}

.nivo-caption3 {
    margin-left:10px;
    margin-top:100px;
    background:black;
    width:350px;
    font-size:100%;
    line-height:120%;
}

</style>

<div class="row">
    <div class="large-12 columns">
        <div class="slider-wrapper theme-default">
            <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
                <img src="{{ url_for('static', filename='img/slides/grace.png') }}" style="max-width:400px; max-height:275px;" title="#htmlcaption1" alt="" />
                <a href="http://dev7studios.com">
                <img src="{{ url_for('static', filename='img/slides/haiyan.png') }}" style="max-width:400px; max-height:275px;" alt="" title="#htmlcaption2" /></a>
                <img src="{{ url_for('static', filename='img/slides/midwest.png') }}" style="max-width:400px; max-height:275px;" title="#htmlcaption3" alt="" />
            </div>
            <div id="htmlcaption1" style="display:none">
                 <div class="nivo-caption1" ></div>
            </div>
            <div id="htmlcaption2" style="display:none">
                <div class="nivo-caption2" ></div>
            </div>
            <div id="htmlcaption3" style="display:none">
                <div class="nivo-caption3" ></div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="large-12 columns">
        <ul class="inline-list">
            <li><a href="{{ url_for('donors.create') }}" class="small success button">Register Donations</a></li>
            <li><a href="{{ url_for('donors.pledging') }}" class="small success button">Register Pledges</a></li>
        </ul>
    </div>
</div>



<div class="row">   
    <div class="large-12 small-12 columns">
        <table>
          <thead>
            <tr>    
                <th width="150" class="left"><label><b>Thumbnail</b></label></th>
                <th width="120" class="left"><label><b>Organization</b></label></th>
                <th width="120" class="left"><label><b>Description</b></label></th>
                <th width="100" class="left"><label><b>Date</b></label></th>
            </tr>
          </thead>
          <tbody>
            {% for row in donations %}
            <tr>
                <td width="150" class="left th">
                    <img src="{{ url_for('donors.uploads', filename=row.filename, _external=True) }}"/>      
                </td>
                <td width="120" class="left"><label>{{ row.organization }}</label></th>
                <td width="120" class="left"><label>{{ row.description }}</label></th>
                <td width="100" class="left"><label>{{ row.modified|strftime }}</label></th>   
                <td class="left">
                    <ul class="inline-list">
                      <li><a href="#" data-reveal-id="PreviewImage" class="small button preview_button"
                            data-id ="{{ row.id }}"
                            data-description ="{{ row.description }}"
                            data-urlpath ="{{ url_for('donors.uploads', filename=row.filename) }}"
                            data-toggle="modal">Preview</a></li>
                      <li><a href="#" data-reveal-id="DeleteConfirmation" class="small alert button delete_confirmation" 
                            data-id ="{{ row.id }}"
                            data-description ="{{ row.description }}"
                            data-toggle="modal">Delete</a></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}  
          </tbody>
        </table>
    <div>
</div>

<div id="PreviewImage" class="modal reveal-modal small modal-body">
    <div class="row">
        <div class="large-12 columns">
            <h6>Receipt for:&nbsp;<output id="image_title1" value="" /></h6>
            <img id="image_url" src="" />   
            <br>
            <br>
            <a href="{{ url_for('donors.index') }}" class="small alert button">Close</a>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>

<div id="DeleteConfirmation" class="modal reveal-modal small modal-body">
    <fieldset>
        <form id="delete_confirm_form" action="" method="POST">
            <div class="large-12 columns">
                <div class="row">
                    <label>Are you sure that you want to <b>delete</b> image "<output id="image_title"></output>"?</label>
                </div>
                <br>
                <div class="row">
                    <ul class="inline-list">
                        <li><input type="hidden" name="_method" value="DELETE" /></li>
                        <li><input type="submit" value="Delete" class="small alert button" /></li> 
                        <li><a href="{{ url_for('donors.delete') }}" type="submit" class="small success button">Cancel</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </fieldset>
    <a class="close-reveal-modal">&#215;</a>
</div>

{% endblock body %}

{% block js %}

<script>

$(window).load(function() {
    $('#slider').nivoSlider({
        effect: 'fade',               // Specify sets like: 'fold,fade,sliceDown'
        slices: 15,                     // For slice animations
        boxCols: 8,                     // For box animations
        boxRows: 4,                     // For box animations
        animSpeed: 500,                 // Slide transition speed
        pauseTime: 3000,                // How long each slide will show
        startSlide: 0,                  // Set starting Slide (0 index)
        directionNav: true,             // Next & Prev navigation
        controlNav: false,               // 1,2,3... navigation
        controlNavThumbs: false,        // Use thumbnails for Control Nav
        pauseOnHover: true,             // Stop animation while hovering
        manualAdvance: false,           // Force manual transitions
        prevText: 'Prev',               // Prev directionNav text
        nextText: 'Next',               // Next directionNav text
        randomStart: false,             // Start on a random slide
        beforeChange: function(){},     // Triggers before a slide transition
        afterChange: function(){},      // Triggers after a slide transition
        slideshowEnd: function(){},     // Triggers after all slides have been shown
        lastSlide: function(){},        // Triggers when last slide is shown
        afterLoad: function(){}         // Triggers when slider has loaded
    });
});

$(".preview_button").click(function(){
     var myDonationId = $(this).data('id');
     $("#image_id1").val(myDonationId);
     var myDontationDesc = $(this).data('description');
     $("#image_title1").val(myDontationDesc);
     var myImageURL = $(this).data('urlpath');
     $("#image_url").attr("src", myImageURL);
 });

$(".delete_confirmation").click(function(){
     var myDonationId = $(this).data('id');
     var myDontationDesc = $(this).data('description');
     $("#image_title").val( myDontationDesc );
    $("#delete_confirm_form").attr("action", "{{ url_for('donors.delete') }}" + myDonationId);
});

</script>

{% endblock js %}