{% extends "base.html" %}
{% block body %}

<style>

.verticalLine {
    border-left: thin solid #000000;
}

</style>

<br>
<br>
<div class="row">
    <div class="large-12 columns">
        <div>
            <img src="{{ url_for('static', filename='img/tax_receipt.png') }}" title="#htmlcaption1" alt="" />
        </div>
        <div id="htmlcaption1" style="display:none">
             <div class="nivo-caption1">Take care of your donation receipts?</div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="large-6 columns">
        <div class="right">
            <a href="{{ url_for('main.about') }}"><h3><u>Learn more about us</u></h3></a>
        </div>
    </div>
    <div class="large-6 columns">
        <div class="large-12 columns verticalLine">
                <a href="{{ url_for('auth.register') }}" class="medium success button">Sign-Up</a>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>




{% endblock %}
