{% extends 'base.html' %}
{% block title %}Server Error - Contact Support{% endblock %}
{% block body %}

<div class="row">
    <div class="12-large columns">
        <br>
        <h1>Server Error.  Please notify Givn Team</h1>
        <p>This should not have happened.  Please contact <a href="mailto:teamgivn@gmail.com?Subject=500Error%20Bug%20Found" target="_top">teamgivn@gmail.com</a> to notify us of this problem.
        <p><a href="/">Get back to main Application</a>
    </div>
</div>

{% endblock body%}